@import url('./reset.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-padding-top: 80px;
}

.shadow-4 {
	box-shadow: 0 0 4px #0e0d0d;
}

.gradient {
	background-image: repeating-linear-gradient(45deg, #000, #0c0c0c 60%);
}

.lh-12 {
	line-height: 1.2;
}

.list-card:hover > * {
	opacity: 0.4;
}

.list-card > *:hover {
	opacity: 1;
	box-shadow: 0 25px 50px 10px rgba(0 0 0, 0.015);
}

@media (max-width: 670px) {
	.list-card:hover > * {
		opacity: 1;
	}
}

@layer components {
	.section-heading {
		@apply text-3xl sm:text-4xl font-bold mb-8 text-center;
	}

	.gradient__wrapper {
		@apply sm:max-w-lg sm:px-0 max-w-[80%] mx-auto;
	}
}
